.checkbox {
  display: none;
}

.switch-container {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

/* outer and inner switch elements */
.checkbox-label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  background-color: #254a6b;
  border-radius: 20px;
}

.checkbox-label::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 30px;
  left: 65px;
  top: 5px;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.checkbox:checked + .checkbox-label::after {
  left: 5px;
}

/* subtitles */
.switch-subtitle-cont {
  display: flex;
  justify-content: space-between;
}

.switch-subtitles {
  font: 12px "Rubik", sans-serif;
  color: white;
  padding: 0px;
  margin: 0;
}
