.sidebar-visible {
  /* container properties */
  width: 350px;
  height: auto;
  top: 20px;
  left: 20px;
  bottom: 30px;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
  background: linear-gradient(180deg, #254a6b 0%, #183855 100%);
  border-radius: 8px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 15px;
  /* content properties */
  font-family: "Rubik";
  justify-content: center;
  color: #fff;
}

/* custom scrollbar for Chrome, Safari, Opera*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #16334e;
  border-radius: 20px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #142f48;
}

.sidebar-visible.hidden {
  left: -100%;
  /* transition: 1s; */
  position: fixed;
}

.inner-toggle-icon {
  font-size: 50px;
  position: absolute;
  z-index: 1;
  color: #fff;
  right: 0px;
  cursor: pointer;
}

.outer-toggle-icon-visible {
  font-size: 50px;
  display: flex;
  position: fixed;
  z-index: 1;
  color: #fff;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .outer-toggle-icon-hidden {
    display: none;
  }
}

h1 {
  font-size: 2em;
  font-weight: 500;
  margin: 0.3em 0 1em 0;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
  margin: 1em 0 0 0;
}

span {
  color: #b4c3ce;
  font-size: 0.8em;
  font-style: oblique;
}

/* move sidebar to the top on smaller screens,
and every class name is doing the opposite in this scenario */
@media screen and (max-width: 768px) {
  /* this is actually the hidden version on smaller screens */
  .sidebar-visible {
    left: -100%;
  }

  /* this is the default visible on small screens */
  .sidebar-visible.hidden {
    /* container properties */
    width: auto;
    height: 70%;
    top: 90px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    background: linear-gradient(180deg, #254a6b 0%, #183855 100%);
    border-radius: 8px;
    box-sizing: border-box;
    padding: 15px;
    /* content properties */
    font-family: "Rubik";
    justify-content: center;
    color: #fff;
  }

  /* default hidden on small screens */
  .outer-toggle-icon-visible {
    display: none;
  }

  /* default visible on small screens */
  .outer-toggle-icon-hidden {
    font-size: 50px;
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
}
