.nav {
  width: 280px;
  height: auto;
  top: 20px;
  left: 20px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  transition: 1s;
  opacity: 0.9;
  background: linear-gradient(180deg, #254a6b 0%, #183855 100%);
  border-radius: 20px;
  font-family: "Rubik";
  line-height: 19px;
  /* hide scrollbar for IE, Edge, Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  box-sizing: border-box;
}

/* hide scrollbar for Chrome, Safari, Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.nav.active {
  left: -100%;
  transition: 1s;
  position: fixed;
}

.nav-toggle {
  font-size: 50px;
  list-style: none;
  color: #fff;
  cursor: pointer;
}

.nav-open {
  font-size: 50px;
  display: flex;
  position: fixed;
  z-index: 1;
  color: #fff;
  opacity: 0.8;
  top: 20px;
  left: 10px;
}

.hidden {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin: 20px 0;
  color: #fff;
}

.nav-list li {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.nav-items {
  padding: 20px;
  height: 723px;
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0;
}

.title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.nav-list span {
  color: #b4c3ce;
  font-size: 0.8rem;
  font-style: oblique;
}

/* hide sidebar on smaller screens */
@media screen and (max-width: 768px) {
  .nav {
    width: auto;
    height: 100px;
    top: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
    border-radius: 20px;
    font-family: "Rubik";
    line-height: 19px;
    background-color: #254a6b;
  }
}
