
.nav {
    width: 280px;
    height: 93vh; 
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    transition: 1s;
    opacity: 0.9;
    background: linear-gradient(180deg, #254A6B 0%, #183855 100%);
    border-radius: 20px;
    font-family: "Rubik";
    line-height: 19px;
    overflow-y: scroll;
}

.nav.active{
    left: -100%;
    transition: 1s;
    position: fixed;
}

.nav-toggle {
    font-size: 50px;
    list-style: none;
    color: #fff;
}

.nav-open {
  font-size: 50px;
  display: flex;
  position: fixed;
  z-index: 1;
  color: #fff;
  opacity: 0.8;
  top: 20px;
  left: 10px;
}

.hidden {
  display: none;
}


.mobile-only {
  display: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 20px 0;
    color: #fff;
}

.nav-list li {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.nav-items {
  padding: 20px;
  height: 723px;
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0;
}

.title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}

.nav-list span {
  color: #b4c3ce;
  font-size: 0.8rem;
  font-style: oblique;
}

@media screen and (mim-width: 600px) {
  .scroll {
    display: hidden;
  }
}
@media screen and (max-width: 600px) {
  .mobile-hidden {
    display: none;
  }

  .toMap {
    display: flex;
    position: fixed; 
    z-index: 1;
    color: #fff;
    margin: 15px;
    font-size: 0.9rem;
  }

  .nav {
    top: 20px;
    background: transparent;
    width: 90%;
    height: 75vh;
  }

  .title {
    margin-bottom: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  .nav-list {
    background-color: #183855;
    opacity: 3;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 20px;
  }

   .mobile-only {
     display: flex; 

   }
  .scroll {
    background-color: #fff;
    color: #183855;
    font-weight: 500;
    border: 2px solid #183855;
    justify-content: center;
    padding: 20px;
    margin: 0;
    border-radius: 20px;
    opacity: 3;
  }

  .nav-list li {
    font-weight: 600;
  }
  .nav-list p, span {
    font-weight: 450;
  }

  /* .icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 75%;
  margin-top: -35px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #183855;
  border-radius: 25px;
} */

/* .icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #183855;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
     opacity: 1
  }
   
  100% {
    opacity: 0;
    transform: translateY(46px);
  } 
}  */

}