

.nav {
  width: 300px;
  height: 100vh; 
    display: flex;
    justify-content: center;
    position: relative;
    transition: 1s;
    opacity: 0.8;
    background: linear-gradient(180deg, #254A6B 0%, #183855 100%);
    border-radius: 20px;
    font-family: "Rubik";
    line-height: 19px;

}

.nav.active{
    left: -100%;
    transition: 1s;
    position: fixed;
}

.nav-toggle {
    font-size: 50px;
    list-style: none;
    color: #fff;

}

.nav-open {
  font-size: 50px;
  display: flex;
  position: fixed;
  z-index: 1;
  color: #fff;
  opacity: 0.8;
}

.hidden {
  display: none;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 10px;
    margin: 30px 0;
    color: #fff;
   
}

.nav-list li {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-items {
  padding: 20px;
  height: 723px;
  margin: 0;
  overflow-y: scroll;
}

.title {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 0;
  margin: 30px 0;
}

.title h1 {
  color: #fff;
  font-size: 2rem;
}

.nav-list span {
  color: darkgray;
  font-size: 0.8rem;
}